DATABASE_URL=postgres://user:password@localhost:5432/go_travel?sslmode=disable

RDS_HOST=my-rds-instance.abcdef.us-east-1.rds.amazonaws.com
RDS_PORT=5432
RDS_USER=rds_user
RDS_PASSWORD=rds_password
RDS_DBNAME=go_travel


PORT=8080

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_ENDPOINT=http://localhost:4566

SAGA_QUEUE_NAME=saga-start.fifo
